.padding-top {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 50px;
}

.padding-y {
  padding: 50px 0;
}

.title--left {
  text-align: left;
}

.title--center {
  text-align: center;
}

.title--right {
  text-align: right;
}
