@media screen and (max-width: 500px) {

  .hero__video-link {
    font-size: 1.2rem;
  }

  .hero__button {
    text-align: center;
  }

  .site-footer {
    padding: 0;
    margin-top: 0;
  }
  .wpcf7 .ajax-loader {
    margin: 0;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    .wpcf7-submit i {
      font-size: 1rem;
    }
    .wpcf7-form-control {
      width: 100%;
    }
  }
  .footer-copyright {
    .copyright-level {
      flex-direction: column;
      text-align: center;
      .back-to-top {
        display: none;
      }
    }

  }
  #footer-nav-menu, #footer-policies-menu {
    margin: 0;
  }

  .footer-highlight {
    flex-direction: column;
    position: relative;
    padding: 40px 20px;
    text-align: center;
    top: 0;
    h2 {
      padding: 0 0 20px 0;
      font-size: 1.3rem;
    }
    .footer-line {
      border: 0;
    }
  }
  .testimonials-holder {
    padding: 20px 0;
  }
  .testimonial-title {
    margin: 0 auto;
  }
  .testimonials-grid {
    margin: 20px 0;
  }
  .testimonial-item {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
    .quote-mark {
      display: none;
    }
  }
  .profile-image-outline {
    display: none;
  }
  .testimonial-item-2, .testimonial-item-3 {
    display: none;
  }
  .updates__thumbnail {
    height: 150px;
  }
  .updates__title {
    margin: 0 20px;
  }
  .updates__grid {
    grid-template-columns: 1fr;
    padding: 20px 0;
    grid-template-areas:
            'title'
            'thumbnail'
            'content';
    .updates__holder {
      .updates__content {
        left: 0;
        bottom: 0;
        line-height: 1.1rem;
        h3 {
          font-size: 1.1rem;
          line-height: 1.1rem;
        }
      }
    }
  }
    .section-title {
    font-size: 1.5rem;
  }
  .tile-grid {
    grid-template-columns: 1fr;
    margin: 20px 0 10px;
  }
  .tile-grid-secondary {
    grid-template-columns: 1fr;
  }
  .tile-item {
    text-align: center;
    .tile__thumbnail {
      display: none;
    }
    .tile__title {
      margin: 0;
      color: #404040;
      font-size: 1.2rem;
      text-transform: none;
    }
    &:after {
      background: none;
    }
  }
  .secondary-tile-item {
    height: unset;
  }
  .flex-title {
    justify-content: center;
    .button {
      display: none;
    }
  }

  .main-navigation {
    margin-right: 0;
  }
  .layout-grid {
    padding: 20px 0;
    grid-template-columns: 1fr!important;
    .grid-item {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      .tile__title {
        font-size: 1.5rem;
      }
    }
  }
  .title-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    .title-holder {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .cards-grid {
    margin: 20px 0;
  }

  #cards-arrows {
    margin: 10px 0;
  }

  .slick-prev, .slick-next {
    bottom: 0;
    padding: 10px;
    font-size: 1.5rem;
  }
  .slick-next {
    right: 50px;
  }
  .full-height-hero--content {
    padding: 20px;
    height: 45vh;
    h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-top: 10px;
      text-align: center;
    }
    h2 {
      font-size: 1.3rem;
      line-height: 1.3rem;
      text-align: center;
    }
  }
  .full-height-hero--background, .slick-hero .slick-slide img {
    height: 45vh;
  }
  .login-menu {
    display: none;
  }
  .site-branding {
    margin-right: 0;
  }
  #sidebar-menu {
    width: 60vw;
  }
  .columns__grid {
    grid-template-columns: 1fr!important;
  }
  .column__content {
    padding: 0 30px;
  }
  .cards-grid--standard {
    grid-template-columns: 1fr;
  }
  .faq__image {
    display: none;
  }
  .faq-grid {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
  .faq__question h3 {
    font-size: 1rem;
  }

  .button-contact {
    align-items: center;
    flex-direction: column;
  }
}

.clear-fix {
  clear: both;
}

@media screen and (min-width: 500px) {
  .mobile-break, .mobile-button {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .full-height-hero--background, .slick-hero .slick-slide img, .full-height-hero--content {
    height: 50vh;
  }
  .full-height-hero--content {
    justify-content: center;
  }
  #sidebar-menu {
    a.login-item {
      margin: 1rem 0;
      font-size: 1rem;
    }
    .menu-sidebar-container ul li {
      margin-bottom:0.5rem;
      a {
        font-size: 1rem;
      }
    }
    .social-icons {
      font-size: 1.2rem;
      bottom: 2rem;
    }
  }
}
