/* Full Height Hero */

.full-height-hero--content {
  height: $size__hero-header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 130px 0;
  position: absolute;
  width: 100%;
  z-index: 5;
  .content--holder {
    width: 100%;
    margin: 0 auto;
    max-width: $size__content-max-width;
  }
  p, h1, h2 {
    margin: 0;
    color: white;
  }
  h1 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 54px;
    margin-top: 30px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
  }
}

.hero--background {
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#4d639a, 0.5);
    position: absolute;
  }
}

.full-height-hero--background {
  height: $size__hero-header;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.hero--content {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  max-width: 600px;
  p {
    margin: 0 0 1em 0;
    font-size: 0.8em;
  }
  h1 {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.1em;
  }
}
.hero__button {
  margin-top: 40px;
  pointer-events: auto;
  .button {
    background: #4EAE54;
    font-family: 'Days One', sans-serif;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
}

.hero__video-link {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  &:visited {
    color: white;
  }
  .fa-stack {
    font-size: 1em;
    -webkit-text-stroke: 1px white;
    color: royalblue;
  }
  i {
    vertical-align: middle;
  }
  &:hover {
    color: #666666;
  }
}

/* Title with Button */

.title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 50px 0;
  .title-holder {
    max-width: 75%;
  }
  .content--holder {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/* Grids */

.layout-grid {
  display: grid;
  gap: 16px;
  align-items: center;
  padding: 50px 0;
  .grid-item {
    height: 450px;
    text-decoration: none;
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: 0.2s all;
    overflow: hidden;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.2s all;
    }
    &:after {
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 5;
    }
    &:hover {
      transform: scale(1.08);
      img {
        transform: scale(1.2);
      }
      &:after {
        background: rgba(#F20544, 0.64);
      }
    }
  }
}

/* Cards */

.cards-grid {
  margin: 50px 0;
  .slick-track {
    padding: 40px 0;
  }
}

.cards-item {
  background: white;
  margin: 0 8px;
  box-shadow: 0 7px 15px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  transition: 0.2s all;
  .cards-thumbnail {
    overflow: hidden;
    img {
      transition: 0.2s all;
    }
  }
  &:hover {
    transform: scale(1.08);
    .cards-thumbnail img {
      transform: scale(1.2);
    }
  }
  .cards__content {
    padding: 5px 20px;
  }
}

.cards-grid--standard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  .cards-item {
    padding: 0;
  }
}



.cards__title {
  font-family: 'Open Sans', serif;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

#cards-arrows {
  text-align: right;

  .slick-arrow {
    border: 1px solid #000000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: transparent;
    margin: 0 10px;
  }
}

/* Tiles */

.tile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 50px 0;
}
.tile-grid-secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.tile-item {
  background-position: center center;
  background-size: cover;
  text-decoration: none;
  position: relative;
  transition: 0.2s all;
  z-index: 200;
  .tile__thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s all;
    }
  }
  &:after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.64);
    position: absolute;
    z-index: 5;
    transition: 0.2s all;
  }
  &:hover {
    transform: scale(1.08);
    .tile__thumbnail img {
      transform: scale(1.2);
    }
    &:after {
      background: rgba(#F20544, 0.64);
    }
  }
}

.secondary-tile-item {
  height: 288px;
}

.tile__title {
  text-transform: uppercase;
  color: white;
  display: inline-block;
  margin: 40px;
  padding: 5px;
  position: relative;
  z-index: 10;
}

/* Updates */

.updates__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0 80px 0;
  .updates__holder {
    grid-area: content;
    position: relative;
    .updates__content {
      background: white;
      padding: 30px;
      position: relative;
      color: #818181;
      h3 {
        border-left: 1px solid #D22D2D;
        font-family: 'Days One', sans-serif;
        padding-left: 15px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        text-transform: uppercase;
        color: #0D0D0D;
      }
    }
  }
}

.updates__grid--right {
  grid-template-areas:
          'title thumbnail'
          'content thumbnail';
  .updates__holder {
    .updates__content {
      bottom: -30px;
      left: 60px;
    }
  }
}
.updates__grid--left {
  grid-template-areas:
          'thumbnail title'
          'thumbnail content';
  .updates__holder {
    .updates__content {
      bottom: -30px;
      left: -60px;
    }
  }
}



.updates__thumbnail {
  background-size: cover;
  background-position: center center;
  grid-area: thumbnail;
}

.updates__title {
  margin: 0 0 -30px 40px;
  grid-area: title;
}

/* Testimonials */

.testimonial-title {
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
}

.testimonials-holder {
  padding: 50px 0;
}

.testimonials-grid {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin: 50px 0;
}

.testimonial-item {
  padding: 40px;
  border-top: 5px solid #F20544;
  background: white;
  max-width: 32%;
  .quote-mark {
    color: #F1F1F1;
  }
  .testimonial-content {
    margin: 20px 0;
    color: #818181;
  }
}
.meta-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-image-outline {
  height: 70px;
  width: 70px;
  border: 1px solid #707070;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
  }
}
.profile-details {
  width: 100%;
  margin-left: 10px;
}
.profile-name {
  text-transform: uppercase;
  font-family: 'Days One', sans-serif;
}
.profile-position {
  font-size: 0.8em;
  color: #919191;
}

.profile-logo {
  flex-shrink: 0;
  max-width: 50%;
  img {
    height: 60px;
    width: 100%;
    object-fit: contain;
  }
}

/* Footer */

.site-footer {
  clear: both;
  background: #0D0D0D;
  color: white;
  position: relative;
  margin-top: 100px;
  padding: 140px 0 0 0;
}

.footer-highlight {
  max-width: $size__content-max-width;
  width: 100%;
  background: #F20544;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -95px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  h2 {
    padding: 75px 0;
    margin: 0;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    .highlight-title {
      color: white;
    }
  }
  .footer-line {
    width: 115px;
    border-top: 3px solid black;
  }
  .footer-circle {
    border: 3px solid white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.5s;
  }
  &:hover {
    .footer-circle {
      transform: rotate(360deg) scale(1.2);
    }
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  padding: 90px 0;
  gap: 20px;
  h3 {
    text-transform: uppercase;
    font-family: 'Days One', sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 20px;
  }
  .footer-title {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
    border-left: #4EBD74 3px solid;
    padding-left: 10px;
  }
  a, a:visited {
    margin-right: 20px;
    color: rgba(#FFFFFF, 0.64);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .wpcf7-form {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #373737;
    p {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  .wpcf7-submit {
    flex-shrink: 0;
    border: 0;
    background: transparent;
    color: white;
    outline: 0;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    i {
      margin-left: 10px;
      color: #4EBD74;
      font-size: 2.5em;
    }
  }
  .wpcf7-form-control {
    background: transparent;
    outline: 0;
    border: 0;
    color: white;
    &:active, &:focus {
      color: white;
    }
  }
  .wpcf7-response-output {
    display: none;
  }
}

#footer-nav-menu, #footer-policies-menu {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.footer-copyright {
  background: black;
  padding: 40px 0;
  .copyright-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright {
      width: 100%;
      color: #8D8D8D;
    }
    .credit {
      flex-shrink: 0;
      color: #8D8D8D;
    }
    .highlight-footer {
      color: white;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: rgba(#ffffff, 0.64);
      }
    }
    .back-to-top {
      font-size: 2em;
      margin-left: 20px;
      border: 2px solid white;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      flex-shrink: 0;
      text-decoration: none;
      color: #4EBD74;
    }
  }
}

.button-contact {
  display: flex;
  align-items: baseline;
  p {
    margin-left: 0.5em;
  }
}

.mobile-button {
  text-align: center;
  margin-bottom: 30px;
}

/* Columns */

.columns__grid{
  display: grid;
  padding: 50px 0;
  gap: 16px;
  align-items: center;
}

/* FAQs */

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  padding: 50px 0;
}

.faq__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.faq__item {
  .faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #F1F9FF;
    cursor: pointer;
    margin: 10px 0;
    h3 {
      margin: 0;
    }
    i {
      color: #818181;
      transition: color 0.2s;
    }
  }
  .faq__answer {
    padding: 0 16px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s;

    p {
      margin: 0;
    }
  }
  &.active {
    .faq__answer {
      height: unset;
    }
    .faq__question {
      i {
        color: #2699FB;
      }
    }
  }
}
