.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.container {
	max-width: $size__content-max-width;
	margin: 0 auto;
}

.flex-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	text-decoration: none;
	font-family: 'Days One', sans-serif;
	text-transform: uppercase;
	background-color: #FFFFFF00;
	border: 2px solid #F20544;
	padding: 10px 15px;
	color: black;
	display: inline-block;
	border-radius: 3px;
	&:hover {
		background-color: rgba(#F20544, 0.3);
	}
}

.button--solid {
	background: #F20544;
	color: white;
	border: 0;
	&:hover {
		background-color: rgba(#F20544, 0.7);
		color: white;
	}
}

.section-title {
	font-family: "Open Sans", serif;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

.highlight-title {
	color: #F20544;
}

.darker-bg {
	background: #F6F6F6;
}
