/*!
Theme Name: skillsnet
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: skillsnet
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

skillsnet is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: "Archivo", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #FCFCFC;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #4169e1;
}

a:visited {
	color: #800080;
}

a:hover, a:focus, a:active {
	color: #191970;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.top-bar {
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
	color: white;
	padding: 0 20px;
}

#sidebar-menu {
	position: fixed;
	top: 0;
	right: -60vw;
	width: 20vw;
	height: 100vh;
	background: #3D3D3D;
	padding: 150px 30px;
	z-index: 150;
	color: white;
	transition: right 0.6s;
}

#sidebar-menu #close {
	position: absolute;
	top: 50px;
	right: 40px;
	font-size: 2em;
	cursor: pointer;
}

#sidebar-menu #close:hover {
	color: rgba(255, 255, 255, 0.6);
}

#sidebar-menu .menu-sidebar-container {
	display: block;
}

#sidebar-menu .menu-sidebar-container ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#sidebar-menu .menu-sidebar-container ul li {
	position: relative;
	margin-bottom: 20px;
}

#sidebar-menu .menu-sidebar-container ul li:last-child {
	margin: 0;
}

#sidebar-menu .menu-sidebar-container ul li a {
	text-decoration: none;
	font-size: 1.2em;
	color: white;
	font-weight: 600;
}

#sidebar-menu .menu-sidebar-container ul li a:hover {
	color: rgba(255, 255, 255, 0.6);
}

#sidebar-menu a.login-item {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	margin: 2rem 0;
	display: inline-block;
}

#sidebar-menu a.login-item:hover {
	color: rgba(255, 255, 255, 0.6);
}

#sidebar-menu .social-icons {
	position: absolute;
	bottom: 5rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

#sidebar-menu .social-icons a {
	color: white;
	margin: 0 10px;
}

#sidebar-menu .social-icons a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.site-header {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	z-index: 100;
}

.site-branding {
	margin: 1em 100px 1em 0;
}

.main-navigation {
	display: block;
	width: 100%;
	margin-right: 200px;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
	color: white;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
	margin-right: 50px;
}

.main-navigation li:last-child {
	margin: 0;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.login-menu {
	display: block;
}

.login-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
}

.login-menu li {
	position: relative;
	margin-right: 50px;
	flex-shrink: 0;
}

.login-menu li:last-child {
	margin: 0;
}

.login-menu .toggle {
	cursor: pointer;
}

.login-menu a {
	display: block;
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		justify-content: space-between;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button {
	text-decoration: none;
	font-family: 'Days One', sans-serif;
	text-transform: uppercase;
	background-color: #FFFFFF00;
	border: 2px solid #F20544;
	padding: 10px 15px;
	color: black;
	display: inline-block;
	border-radius: 3px;
}

.button:hover {
	background-color: rgba(242, 5, 68, 0.3);
}

.button--solid {
	background: #F20544;
	color: white;
	border: 0;
}

.button--solid:hover {
	background-color: rgba(242, 5, 68, 0.7);
	color: white;
}

.section-title {
	font-family: "Open Sans", serif;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
}

.highlight-title {
	color: #F20544;
}

.darker-bg {
	background: #F6F6F6;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/* Full Height Hero */
.full-height-hero--content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 130px 0;
	position: absolute;
	width: 100%;
	z-index: 5;
}

.full-height-hero--content .content--holder {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
}

.full-height-hero--content p, .full-height-hero--content h1, .full-height-hero--content h2 {
	margin: 0;
	color: white;
}

.full-height-hero--content h1 {
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 54px;
	margin-top: 30px;
}

.full-height-hero--content h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 40px;
}

.hero--background {
	width: 100%;
	height: 45vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	position: relative;
}

.hero--background:after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(77, 99, 154, 0.5);
	position: absolute;
}

.full-height-hero--background {
	height: 100vh;
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.hero--content {
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 20;
	max-width: 600px;
}

.hero--content p {
	margin: 0 0 1em 0;
	font-size: 0.8em;
}

.hero--content h1 {
	margin: 0;
	font-size: 2.5em;
	line-height: 1.1em;
}

.hero__button {
	margin-top: 40px;
	pointer-events: auto;
}

.hero__button .button {
	background: #4EAE54;
	font-family: 'Days One', sans-serif;
	border-radius: 3px;
	border: 2px solid white;
	color: white;
}

.hero__button .button:hover {
	opacity: 0.6;
}

.hero__video-link {
	text-decoration: none;
	font-size: 1.5em;
	color: white;
}

.hero__video-link:visited {
	color: white;
}

.hero__video-link .fa-stack {
	font-size: 1em;
	-webkit-text-stroke: 1px white;
	color: royalblue;
}

.hero__video-link i {
	vertical-align: middle;
}

.hero__video-link:hover {
	color: #666666;
}

/* Title with Button */
.title-container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 50px 0;
}

.title-container .title-holder {
	max-width: 75%;
}

.title-container .content--holder p:last-child {
	margin-bottom: 0;
}

/* Grids */
.layout-grid {
	display: grid;
	gap: 16px;
	align-items: center;
	padding: 50px 0;
}

.layout-grid .grid-item {
	height: 450px;
	text-decoration: none;
	background-position: center center;
	background-size: cover;
	position: relative;
	transition: 0.2s all;
	overflow: hidden;
}

.layout-grid .grid-item img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.2s all;
}

.layout-grid .grid-item:after {
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 5;
}

.layout-grid .grid-item:hover {
	transform: scale(1.08);
}

.layout-grid .grid-item:hover img {
	transform: scale(1.2);
}

.layout-grid .grid-item:hover:after {
	background: rgba(242, 5, 68, 0.64);
}

/* Cards */
.cards-grid {
	margin: 50px 0;
}

.cards-grid .slick-track {
	padding: 40px 0;
}

.cards-item {
	background: white;
	margin: 0 8px;
	box-shadow: 0 7px 15px 4px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	text-decoration: none;
	color: #000000;
	transition: 0.2s all;
}

.cards-item .cards-thumbnail {
	overflow: hidden;
}

.cards-item .cards-thumbnail img {
	transition: 0.2s all;
}

.cards-item:hover {
	transform: scale(1.08);
}

.cards-item:hover .cards-thumbnail img {
	transform: scale(1.2);
}

.cards-item .cards__content {
	padding: 5px 20px;
}

.cards-grid--standard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.cards-grid--standard .cards-item {
	padding: 0;
}

.cards__title {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	font-weight: 700;
	margin: 15px 0 0 0;
}

#cards-arrows {
	text-align: right;
}

#cards-arrows .slick-arrow {
	border: 1px solid #000000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background: transparent;
	margin: 0 10px;
}

/* Tiles */
.tile-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin: 50px 0;
}

.tile-grid-secondary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.tile-item {
	background-position: center center;
	background-size: cover;
	text-decoration: none;
	position: relative;
	transition: 0.2s all;
	z-index: 200;
}

.tile-item .tile__thumbnail {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.tile-item .tile__thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.2s all;
}

.tile-item:after {
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.64);
	position: absolute;
	z-index: 5;
	transition: 0.2s all;
}

.tile-item:hover {
	transform: scale(1.08);
}

.tile-item:hover .tile__thumbnail img {
	transform: scale(1.2);
}

.tile-item:hover:after {
	background: rgba(242, 5, 68, 0.64);
}

.secondary-tile-item {
	height: 288px;
}

.tile__title {
	text-transform: uppercase;
	color: white;
	display: inline-block;
	margin: 40px;
	padding: 5px;
	position: relative;
	z-index: 10;
}

/* Updates */
.updates__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px 0 80px 0;
}

.updates__grid .updates__holder {
	grid-area: content;
	position: relative;
}

.updates__grid .updates__holder .updates__content {
	background: white;
	padding: 30px;
	position: relative;
	color: #818181;
}

.updates__grid .updates__holder .updates__content h3 {
	border-left: 1px solid #D22D2D;
	font-family: 'Days One', sans-serif;
	padding-left: 15px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	color: #0D0D0D;
}

.updates__grid--right {
	grid-template-areas: 'title thumbnail' 'content thumbnail';
}

.updates__grid--right .updates__holder .updates__content {
	bottom: -30px;
	left: 60px;
}

.updates__grid--left {
	grid-template-areas: 'thumbnail title' 'thumbnail content';
}

.updates__grid--left .updates__holder .updates__content {
	bottom: -30px;
	left: -60px;
}

.updates__thumbnail {
	background-size: cover;
	background-position: center center;
	grid-area: thumbnail;
}

.updates__title {
	margin: 0 0 -30px 40px;
	grid-area: title;
}

/* Testimonials */
.testimonial-title {
	text-align: center;
	max-width: 500px;
	margin: 40px auto;
}

.testimonials-holder {
	padding: 50px 0;
}

.testimonials-grid {
	display: flex;
	justify-content: space-between;
	gap: 18px;
	margin: 50px 0;
}

.testimonial-item {
	padding: 40px;
	border-top: 5px solid #F20544;
	background: white;
	max-width: 32%;
}

.testimonial-item .quote-mark {
	color: #F1F1F1;
}

.testimonial-item .testimonial-content {
	margin: 20px 0;
	color: #818181;
}

.meta-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-image-outline {
	height: 70px;
	width: 70px;
	border: 1px solid #707070;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.profile-image-outline img {
	height: 60px;
	width: 60px;
	object-fit: cover;
	object-position: center center;
	border-radius: 50%;
}

.profile-details {
	width: 100%;
	margin-left: 10px;
}

.profile-name {
	text-transform: uppercase;
	font-family: 'Days One', sans-serif;
}

.profile-position {
	font-size: 0.8em;
	color: #919191;
}

.profile-logo {
	flex-shrink: 0;
	max-width: 50%;
}

.profile-logo img {
	height: 60px;
	width: 100%;
	object-fit: contain;
}

/* Footer */
.site-footer {
	clear: both;
	background: #0D0D0D;
	color: white;
	position: relative;
	margin-top: 100px;
	padding: 140px 0 0 0;
}

.footer-highlight {
	max-width: 1200px;
	width: 100%;
	background: #F20544;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: -95px;
	left: 50%;
	transform: translate(-50%);
	text-decoration: none;
}

.footer-highlight h2 {
	padding: 75px 0;
	margin: 0;
	color: black;
	font-size: 2rem;
	text-transform: uppercase;
}

.footer-highlight h2 .highlight-title {
	color: white;
}

.footer-highlight .footer-line {
	width: 115px;
	border-top: 3px solid black;
}

.footer-highlight .footer-circle {
	border: 3px solid white;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: all 0.5s;
}

.footer-highlight:hover .footer-circle {
	transform: rotate(360deg) scale(1.2);
}

.footer-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	padding: 90px 0;
	gap: 20px;
}

.footer-grid h3 {
	text-transform: uppercase;
	font-family: 'Days One', sans-serif;
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 20px;
}

.footer-grid .footer-title {
	font-family: 'Archivo', sans-serif;
	font-size: 1.2em;
	border-left: #4EBD74 3px solid;
	padding-left: 10px;
}

.footer-grid a, .footer-grid a:visited {
	margin-right: 20px;
	color: rgba(255, 255, 255, 0.64);
	text-decoration: none;
}

.footer-grid a:hover, .footer-grid a:visited:hover {
	color: white;
}

.footer-grid .wpcf7-form {
	display: flex;
	align-items: center;
	border-bottom: 3px solid #373737;
}

.footer-grid .wpcf7-form p {
	display: flex;
	align-items: center;
	margin: 0;
}

.footer-grid .wpcf7-submit {
	flex-shrink: 0;
	border: 0;
	background: transparent;
	color: white;
	outline: 0;
	display: flex;
	text-transform: uppercase;
	align-items: center;
}

.footer-grid .wpcf7-submit i {
	margin-left: 10px;
	color: #4EBD74;
	font-size: 2.5em;
}

.footer-grid .wpcf7-form-control {
	background: transparent;
	outline: 0;
	border: 0;
	color: white;
}

.footer-grid .wpcf7-form-control:active, .footer-grid .wpcf7-form-control:focus {
	color: white;
}

.footer-grid .wpcf7-response-output {
	display: none;
}

#footer-nav-menu, #footer-policies-menu {
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
}

.footer-copyright {
	background: black;
	padding: 40px 0;
}

.footer-copyright .copyright-level {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright .copyright-level .copyright {
	width: 100%;
	color: #8D8D8D;
}

.footer-copyright .copyright-level .credit {
	flex-shrink: 0;
	color: #8D8D8D;
}

.footer-copyright .copyright-level .highlight-footer {
	color: white;
	font-weight: 700;
	text-decoration: none;
}

.footer-copyright .copyright-level .highlight-footer:hover {
	color: rgba(255, 255, 255, 0.64);
}

.footer-copyright .copyright-level .back-to-top {
	font-size: 2em;
	margin-left: 20px;
	border: 2px solid white;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	flex-shrink: 0;
	text-decoration: none;
	color: #4EBD74;
}

.button-contact {
	display: flex;
	align-items: baseline;
}

.button-contact p {
	margin-left: 0.5em;
}

.mobile-button {
	text-align: center;
	margin-bottom: 30px;
}

/* Columns */
.columns__grid {
	display: grid;
	padding: 50px 0;
	gap: 16px;
	align-items: center;
}

/* FAQs */
.faq-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 16px;
	padding: 50px 0;
}

.faq__image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.faq__item .faq__question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background: #F1F9FF;
	cursor: pointer;
	margin: 10px 0;
}

.faq__item .faq__question h3 {
	margin: 0;
}

.faq__item .faq__question i {
	color: #818181;
	transition: color 0.2s;
}

.faq__item .faq__answer {
	padding: 0 16px;
	height: 0;
	overflow: hidden;
	transition: height 0.2s;
}

.faq__item .faq__answer p {
	margin: 0;
}

.faq__item.active .faq__answer {
	height: unset;
}

.faq__item.active .faq__question i {
	color: #2699FB;
}

.slick-hero .slick-slide img {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

.slick-prev, .slick-next {
	border: 0;
	background: transparent;
	position: absolute;
	z-index: 50;
	color: white;
	font-size: 50px;
	bottom: 100px;
	right: 100px;
}

.slick-next {
	bottom: 200px;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

@media screen and (max-width: 500px) {
	.hero__video-link {
		font-size: 1.2rem;
	}
	.hero__button {
		text-align: center;
	}
	.site-footer {
		padding: 0;
		margin-top: 0;
	}
	.wpcf7 .ajax-loader {
		margin: 0;
	}
	.footer-grid {
		grid-template-columns: 1fr;
		padding: 20px;
	}
	.footer-grid .wpcf7-submit i {
		font-size: 1rem;
	}
	.footer-grid .wpcf7-form-control {
		width: 100%;
	}
	.footer-copyright .copyright-level {
		flex-direction: column;
		text-align: center;
	}
	.footer-copyright .copyright-level .back-to-top {
		display: none;
	}
	#footer-nav-menu, #footer-policies-menu {
		margin: 0;
	}
	.footer-highlight {
		flex-direction: column;
		position: relative;
		padding: 40px 20px;
		text-align: center;
		top: 0;
	}
	.footer-highlight h2 {
		padding: 0 0 20px 0;
		font-size: 1.3rem;
	}
	.footer-highlight .footer-line {
		border: 0;
	}
	.testimonials-holder {
		padding: 20px 0;
	}
	.testimonial-title {
		margin: 0 auto;
	}
	.testimonials-grid {
		margin: 20px 0;
	}
	.testimonial-item {
		max-width: 100%;
		width: 100%;
		text-align: center;
		padding: 20px;
	}
	.testimonial-item .quote-mark {
		display: none;
	}
	.profile-image-outline {
		display: none;
	}
	.testimonial-item-2, .testimonial-item-3 {
		display: none;
	}
	.updates__thumbnail {
		height: 150px;
	}
	.updates__title {
		margin: 0 20px;
	}
	.updates__grid {
		grid-template-columns: 1fr;
		padding: 20px 0;
		grid-template-areas: 'title' 'thumbnail' 'content';
	}
	.updates__grid .updates__holder .updates__content {
		left: 0;
		bottom: 0;
		line-height: 1.1rem;
	}
	.updates__grid .updates__holder .updates__content h3 {
		font-size: 1.1rem;
		line-height: 1.1rem;
	}
	.section-title {
		font-size: 1.5rem;
	}
	.tile-grid {
		grid-template-columns: 1fr;
		margin: 20px 0 10px;
	}
	.tile-grid-secondary {
		grid-template-columns: 1fr;
	}
	.tile-item {
		text-align: center;
	}
	.tile-item .tile__thumbnail {
		display: none;
	}
	.tile-item .tile__title {
		margin: 0;
		color: #404040;
		font-size: 1.2rem;
		text-transform: none;
	}
	.tile-item:after {
		background: none;
	}
	.secondary-tile-item {
		height: unset;
	}
	.flex-title {
		justify-content: center;
	}
	.flex-title .button {
		display: none;
	}
	.main-navigation {
		margin-right: 0;
	}
	.layout-grid {
		padding: 20px 0;
		grid-template-columns: 1fr !important;
	}
	.layout-grid .grid-item {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.layout-grid .grid-item .tile__title {
		font-size: 1.5rem;
	}
	.title-container {
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
	}
	.title-container .title-holder {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.cards-grid {
		margin: 20px 0;
	}
	#cards-arrows {
		margin: 10px 0;
	}
	.slick-prev, .slick-next {
		bottom: 0;
		padding: 10px;
		font-size: 1.5rem;
	}
	.slick-next {
		right: 50px;
	}
	.full-height-hero--content {
		padding: 20px;
		height: 45vh;
	}
	.full-height-hero--content h1 {
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin-top: 10px;
		text-align: center;
	}
	.full-height-hero--content h2 {
		font-size: 1.3rem;
		line-height: 1.3rem;
		text-align: center;
	}
	.full-height-hero--background, .slick-hero .slick-slide img {
		height: 45vh;
	}
	.login-menu {
		display: none;
	}
	.site-branding {
		margin-right: 0;
	}
	#sidebar-menu {
		width: 60vw;
	}
	.columns__grid {
		grid-template-columns: 1fr !important;
	}
	.column__content {
		padding: 0 30px;
	}
	.cards-grid--standard {
		grid-template-columns: 1fr;
	}
	.faq__image {
		display: none;
	}
	.faq-grid {
		grid-template-columns: 1fr;
		padding: 20px 0;
	}
	.faq__question h3 {
		font-size: 1rem;
	}
	.button-contact {
		align-items: center;
		flex-direction: column;
	}
}

.clear-fix {
	clear: both;
}

@media screen and (min-width: 500px) {
	.mobile-break, .mobile-button {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	.full-height-hero--background, .slick-hero .slick-slide img, .full-height-hero--content {
		height: 50vh;
	}
	.full-height-hero--content {
		justify-content: center;
	}
	#sidebar-menu a.login-item {
		margin: 1rem 0;
		font-size: 1rem;
	}
	#sidebar-menu .menu-sidebar-container ul li {
		margin-bottom: 0.5rem;
	}
	#sidebar-menu .menu-sidebar-container ul li a {
		font-size: 1rem;
	}
	#sidebar-menu .social-icons {
		font-size: 1.2rem;
		bottom: 2rem;
	}
}

.padding-top {
	padding-top: 50px;
}

.padding-bottom {
	padding-bottom: 50px;
}

.padding-y {
	padding: 50px 0;
}

.title--left {
	text-align: left;
}

.title--center {
	text-align: center;
}

.title--right {
	text-align: right;
}

/*# sourceMappingURL=style.css.map */