.slick-hero .slick-slide img {
  height: $size__hero-header;
  width: 100vw;
  object-fit: cover;
}

.slick-prev, .slick-next {
    border: 0;
    background: transparent;
    position: absolute;
    z-index: 50;
    color: white;
    font-size: 50px;
    bottom: 100px;
    right: 100px;
}

.slick-next {
  bottom: 200px;
}
