.top-bar {
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
	color: white;
	padding: 0 20px;
}

#sidebar-menu {
	position: fixed;
	top: 0;
	right: -60vw;
	width: 20vw;
	height: 100vh;
	background: #3D3D3D;
	padding: 150px 30px;
	z-index: 150;
	color: white;
	transition: right 0.6s;
	#close {
		position: absolute;
		top: 50px;
		right: 40px;
		font-size: 2em;
		cursor: pointer;
		&:hover {
			color: rgba(#ffffff, 0.6);
		}
	}
	.menu-sidebar-container {
		display: block;
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			li {
				position: relative;
				margin-bottom: 20px;
				&:last-child {
					margin: 0;
				}
				a {
					text-decoration: none;
					font-size: 1.2em;
					color: white;
					font-weight: 600;
					&:hover {
						color: rgba(#ffffff, 0.6);
					}
				}
			}
		}
	}
	a.login-item {
		color: white;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 600;
		margin: 2rem 0;
		display: inline-block;
		&:hover {
			color: rgba(#ffffff, 0.6);
		}
	}
	.social-icons {
		position: absolute;
		bottom: 5rem;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		a {
			color: white;
			margin: 0 10px;
			&:hover {
				color: rgba(#ffffff, 0.6);
			}
		}
	}
}

.site-header {
	background: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	z-index: 100;
}

.site-branding {
	margin: 1em 100px 1em 0;
}

.main-navigation {
	display: block;
	width: 100%;
	margin-right: 200px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				color: white;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin-right: 50px;
		&:last-child {
			margin: 0;
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}
.login-menu {
	display: block;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
	}
	li {
		position: relative;
		margin-right: 50px;
		flex-shrink: 0;
		&:last-child {
			margin: 0;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	.toggle {
		cursor: pointer;
	}
	a {
		display: block;
		text-decoration: none;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: space-between;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
